<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head"); %>
    <script src ="/javascripts/autocomplete.js"></script>
  </head>
  <body>

    <%- include("./partials/header"); %>
      <div class="container" style=";">
      <h1 class="welcome-title d-flex justify-content-center">See who has an advantage!</h1>
      <p class="d-flex justify-content-center">Welcome</p>


    </div>
  </body>
</html>

