<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head"); %>
    <link rel='stylesheet' href='/stylesheets/loading.css' />
    <link rel='stylesheet' href='/stylesheets/chat.css' />
    <script src ="/javascripts/chat.js"></script>
</head>
<%- include("./partials/header"); %>
<body>

<div id = "box">
  
</div>
<textarea id="message">
</textarea>
<input type = "submit">
<input type = "checkbox" checked>
    

  </body>
  <script>





    
  </script>
</html>

