<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head"); %>
    <link rel='stylesheet' href='/stylesheets/loading.css' />
    <script src ="/javascripts/autocomplete.js"></script>
  </head>
  <body>
    <%- include("./partials/header"); %>
    
    <div class="" style="position: fixed; top:35%; left:45%">
        <p class="" style="text-align: center; font-size:30px;" >Loading</p>
        <section class="loading">
          <span class="loading__anim" ></span>
        </section>
    </div>
    </div>

    


  </body>
  <script>
    ((path="/loading", params, method='post') => {

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        const form = document.createElement('form');
        form.method = method;
        form.action = path;
      
        for (const key in params) {
          if (params.hasOwnProperty(key)) {
            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = key;
            hiddenField.value = params[key];
      
            form.appendChild(hiddenField);
          }
        }
      
        document.body.appendChild(form);
        form.submit();
      })();      
  </script>
</html>

