<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head"); %>
    <link rel='stylesheet' href='/stylesheets/loading.css' />
    <script src ="/javascripts/autocomplete.js"></script>
  </head>
  <body>
    <%- include("./partials/header"); %>
    
    <div class="" style="position: fixed; top:35%; left:45%">
        <div class="typewriter" style="padding-bottom: 15px;"> 
          <h1 style="text-align: center; font-size:30px;" >Loading...</h1>
        </div>
        <section class="loading">
          <span class="loading__anim" ></span>
        </section>
    </div>
  </body>
  <script>
    ((path="/loading", params, method='post') => {
        const form = document.createElement('form');
        form.method = method;
        form.action = path;
      
        for (const key in params) {
          if (params.hasOwnProperty(key)) {
            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = key;
            hiddenField.value = params[key];
      
            form.appendChild(hiddenField);
          }
        }
      
        document.body.appendChild(form);
        form.submit();
      })();      
  </script>
</html>

