



.column-header { 
    font-size: 2em;
    font-weight: bold;
    padding-bottom:2em;
    text-decoration: overline underline solid;
    text-decoration-style: double;
}


.column {
    text-align: center;
}

.categories {
    font-size: 1.2em;
    padding-bottom: 1.5em;
    border: solid 2px white;
    height: 5em;
    line-height: 5em;
}
