.table {
  background-color: white;
  border: solid;
  border-collapse: collapse;
  border-width: 15px;
  border-color: white;
  border-radius: 30px;
}

table {
  border: solid;
  border-color: white;
  border-width: 1px;
}

th {
  border: solid;
  border-color: white;
  border-width: 1px;
}
td {
  border: solid;
  border-color: white;
  border-width: 1px;
}

.team-name {
  font-weight: bold;
  width: 100vw;
}

.schedule {
  width: 100vw;
  font-style: italic;
  font-weight: 700;
}

.playing-yes {
  background-color: yellow;
  border: solid;
  border-color: yellow;
  border-width: 1px;
}

.playing-no {
  background-color: white;
  border: solid;
  border-color: white;
  border-width: 1px;
}
