<% for (let i=0; i < numPlayers ; i++) { %>
    <div class="">
      <label for="playerName">Player Name:</label>
      <input class="form-control" type="text" placeholder="Player Name" name="playerName" value=""> 
    </div>  
  <% }; %>   