<% for (let i=0; i < numPlayers ; i++) { %>
    <div class="">
      <div class="autocomplete">
        <label for="playerName">Player Name:</label>
        <input id=<%= "playerName_1" + i %>  class="form-control playerNameInput" type="text" placeholder="Player Name" name="playerName" style="width:300px;" value=""> 
      </div>
    </div>  
<% }; %>   