<div class="autocomplete managers">
  <div>
    <span for="managerName"><%= leftManager %></span>
  </div>
</div>

<% for (let i=0; i < numCategories ; i++) { %>
<div class="categories">
  <div>
    <%= leftTeam[i] %>
  </div>
</div>
<% }; %>   